.search_component {
    animation: fadeInUp 0.8s;
    display: flex;
    width: 550px;
    margin-bottom: 10px;
    justify-content: space-between;
}
.search_form {
    font-size: 1.00rem;
    padding-left:10px;
    display: flex;
    height: 45px;
    width: 350px;
    padding-right:10px;
    border-radius: 5px;
    background-color: white;
    border: 2px solid #8E8C8C
}
.search_button {
    background-color: #34A49D;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 5px;
    font-size: 16px;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
  }